<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phone.name %>
</p>

<p>
  <strong>Os:</strong>
  <%= @phone.os %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @phone.capacity %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
