<%= form_for(@laptop) do |f| %>
  <% if @laptop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@laptop.errors.count, "error") %> prohibited this laptop from being saved:</h2>

      <ul>
      <% @laptop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :screen_size %><br>
    <%= f.number_field :screen_size %>
  </div>
  <div class="field">
    <%= f.label :ram %><br>
    <%= f.number_field :ram %>
  </div>
  <div class="field">
    <%= f.label :hdd %><br>
    <%= f.number_field :hdd %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
