<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @laptop.name %>
</p>

<p>
  <strong>Screen size:</strong>
  <%= @laptop.screen_size %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @laptop.ram %>
</p>

<p>
  <strong>Hdd:</strong>
  <%= @laptop.hdd %>
</p>

<%= link_to 'Edit', edit_laptop_path(@laptop) %> |
<%= link_to 'Back', laptops_path %>
